/* write your override styles here */

/* .tag-1 */
#wall .tag-1 {
  display: none;
}

/* #wall #tag-2 */
#wall div#tag-2 {
  display: none;
}

/* div#wall #tag-3.slick */
div#wall #tag-3.slick.wicked {
  display: none;
}

/* #wall #tag-4 */
#wall div#tag-4 {
  display: none;
}

/* div#wall .parent #tag-5.slick */
div#wall .parent div#tag-5.slick {
  display: none;
}

/* div#wall div.parent div:last-child div#tag-6 */
body div#wall div.parent div:last-child div#tag-6 {
  display: none;
}

/* body div#wall div.parent div > #tag-7.slick */
body div#wall div.parent:last-child div > #tag-7.slick {
  display: none;
}




